

#include <windows.h>

//
// Version resources
//

#include "..\..\Applications\common\osnversion.h"

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "EIM PA Driver"
#define VER_INTERNALNAME_STR        "OsnPA.sys"
#define VER_ORIGINALFILENAME_STR    "OsnPA.sys"


#include "..\..\Applications\common\osncommon.ver"

#include "OsnpaMsg.rc"
